#IGNORE TEMPALTE BY BACHDEV
#OS junk files
[Tt]humbs.db
*.DS_Store
#Netbean IDE files
nbproject/
build/
nbbuild/
dist/
#Eclipse IDE files
.settings/
.metadata
bin/
tmp/
*.tmp
#Maven files
**/target/
#Subversion files
.svn/*
**/.svn/
# Office Temp Files
~$*
#IDEA Files
.idea/
